<div class="login tooltips">
  <div class="login-wrapper">
    <div class="text-center alert alert-info alert-bold-border fade in alert-dismissable">Recupere a sua senha</div>  
    <%= form_tag do %>
      <%= form_tag('/recover', method: :put) do %>  
        <div class="form-group has-feedback lg left-feedback no-label">
          <%= text_field_tag :email, params[:email], class: "form-control no-border input-lg rounded", placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= submit_tag 'Recuperar', :class=>"btn btn-info btn-lg btn-perspective btn-block" %>
        </div>
      <% end %>
    <div class="form-group">
      <a href="/" class="btn btn-success btn-lg btn-perspective btn-block">Retornar</a>
    </div>
    <%end%>
  </div>
</div>