<div class="sidebar-left sidebar-nicescroller" tabindex="5000" style="overflow: hidden; outline: none;">
  <ul class="sidebar-menu">
    <li>
      <a href="/dashboard" id="dashboard">
        <i class="fa fa-home icon-sidebar"></i>
        Home
      </a>
    </li>
    <li>
      <a href="/activities" id="activities">
        <i class="fa fa-calendar icon-sidebar"></i>
        Tarefas
      </a>
    </li>
    <li>
      <a href="/clients" id="clients">
        <i class="fa fa-users icon-sidebar"></i>
        Clientes
      </a>
    </li>
    <li>
      <a href="/projects" id="projects">
        <i class="fa fa-usd icon-sidebar"></i>
        Projetos
      </a>
    </li>
    <li>
      <a href="/emails" id="emails">
        <i class="fa fa-envelope icon-sidebar"></i>
        Emails
      </a>
    </li>
    <li>
      <a href="#" id="reports">
        <i class="fa fa-file icon-sidebar"></i>
        Relatórios
      </a>
    </li>
    <li>
      <a href="/users" id="users" >
        <i class="fa fa-male icon-sidebar"></i>
        Usuários
      </a>
    </li>
    <li>
      <a href="/tour" id="tour" >
        <i class="fa fa-file icon-sidebar"></i>
        Tour
      </a>
    </li>
    <li>
      <a href="/log_out" id="logout">
        <i class="fa fa-sign-out icon-sidebar"></i>
        Sair
      </a>
    </li>
  </ul>
</div>
